html {
    background:#c58eb6;
}

body {
    margin:auto;
    width:740px;
    padding:5px 60px;
    background:#bb9dc5;
}

h1 {
    padding:10px;
    background:#b17bad;
    font-size:36px;
    margin:10px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#47134a;
    text-align:center;
}

h1 a:link, a:hover, a:visited {
    text-decoration:none;
    color:inherit;
}

span {
    font-family:inherit !important;
}

img {
    max-width:90%;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
